.questions__answers__body {
  border: 1px black solid;
}

.questions__score {
  width: 40px;
  margin-right: 3px;
}

.questions {
  text-align: left;
  width: 70%;
  margin: auto;
  max-width: 50em;
}

@media only screen and (max-width: 1000px) {
  .questions {
    width: 95%;
  }
}

li {
  list-style-type: none;
}